.wrapper{
	width:auto;
}
body {
	background-image: url("brisbanecity.jpg");
	background-repeat: no-repeat;
	background-size: fill;
	background-position: center;
	background-attachment: fixed;
	
}
.content{
	float:middle;
	overflow:hidden;
}
.result{
	
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
}
.homepage{	
	/* border properties */
	height: auto;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
}
.welcome{
	font-size:40px;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
}

.search{
	
	float:left;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
}
.header {
	overflow: hidden;
	width: 100%;
	z-index:2;
	background-color:#5c5c8a;
	color: white;
	/* text properties */
	text-align:center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration: bold;
	/* border properties */
	border-style: hidden;
	top: 0;
	left: 0;
}
/* The navigation bar container */
.topnav {
	background-color:#e0e0d1;
	overflow: hidden;	
}
/* Navigation bar links */
.topnav a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	border-radius:3px;
	text-decoration:none;
}
.topnav a:hover {
	background-color:black;
	color:white;
	text-decoration:none;
}
.login {
	float: right;
}
.footer {
	overflow:hidden;
	background-color:#5c5c8a;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	/* border properties */
	border-style:hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%
}
.logout{
		float:left;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
	position:fixed;
	top:40%;
	left:40%;
}
.loginform{
	float:left;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
	position:fixed;
	top:40%;
	left:40%;
}
.signup{
	float:left;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;
	position:fixed;
	top:30%;
	left:35%;
}
.search h2{
	text-align:center;
	background-color:#e0e0d1;
}
.review{

	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;	
}
.title{
	float:left;
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;	
}
.writereview{
	
	background-color: #d1d1e0;
	padding:16px;
	border-style: hidden;
	border-radius: 25px;
	width:auto;	
}
.checked{
	color:gold;
}
#map{
	width:100%;
	height:400px;
	background-color:grey;
}