.wrapper{
	width:auto;
}
form {
	padding: 16px;
	text-align:left;
	background-color: #d1d1e0;
	/* border properties */
	border-style: hidden;
	border-radius: 25px;
	height: auto;
	width: 550px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
}
.header {
	overflow: hidden;
	width: 100%;
	z-index:2;
	background-color:#5c5c8a;
	color: white;
	/* text properties */
	text-align:center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration: bold;
	/* border properties */
	border-style: hidden;
	top: 0;
	left: 0;
}
/* The navigation bar container */
.topnav {
	background-color:#e0e0d1;
}
/* Navigation bar links */
.topnav a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	border-radius:3px;
	text-decoration:none;
}
.topnav a:hover {
	background-color:black;
	color:white;
	text-decoration:none;
}
.login {
	float: right;
}
.footer {
	overflow:hidden;
	background-color:#5c5c8a;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	/* border properties */
	border-style:hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%
}
table {
	align: center;
	/* cell spacing */
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	/* This covers the th elements */
}
tr {
	/*This covers the tr elements */
	align: center;
}
th, td {
	/* cellpadding */
	padding: 0;
	text-align: center;
	width: 100px;
}
.search h3{
	text-align:center;
	background-color:#e0e0d1;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
	color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.checked{
	color:gold;
}
#map{
	width:100%;
	height:400px;
	background-color:grey;
}